.backround {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    background: linear-gradient(112.1deg, rgb(14, 15, 20) 11.4%, rgb(45, 53, 80) 70.2%); 
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

