.nav {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  align-items: center;
}

.sidebarContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
