.navigation {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 400px;
  align-items: center;
  z-index: 50;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  margin: 1rem;
  /* background: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; */
}

.blur {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 49;
}


.menutoggle {
  display: flex;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  align-items: center;
  justify-content: center;
}

/* .navigation ul,
.navigation li {
  margin: 0;
  padding: 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  padding: 25px;
  position: absolute;
  width: 230px;
}

.navigation li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
} */

.iconplaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.textplaceholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.override_Y_Overflow {
  overflow-y: unset !important;
}
