.navigation {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 400px;
  align-items: center;
  z-index: 50;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  margin: 1rem;
}

.blur {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 49;
  pointer-events: none;
}


.menutoggle {
  pointer-events: auto;
  display: flex;
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.override_Y_Overflow {
  overflow-y: unset !important;
}
